<!-- Search Repo Component -->
<div class="container mx-auto min-h-screen flex flex-col justify-center items-center py-16 bg-gray-100">

  <div class="error-container w-full mb-4">
    <div class="error-message text-red-500" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>

  <div class="w-full flex flex-col lg:flex-row justify-center items-center lg:items-start">
    <div class="lg:w-1/2 max-w-lg text-center lg:text-left ml-12 justify-center bg-white p-8 rounded-lg shadow-lg">
      <h1 class="text-3xl lg:text-4xl font-bold text-gray-800 mb-4">GitHub Profile Search</h1>
      <p class="text-gray-600 mb-6">
        Please add a username in the search bar to get their repo and details.
      </p>

      <div class="flex justify-center lg:justify-start gap-4">
        <label for="username" class="sr-only">Username</label>
        <input id="username" name="username" [(ngModel)]="githubUsername" type="text"
          autocomplete="username" required
          class="flex-auto rounded-md border border-gray-300 bg-white px-3 py-2 text-gray-800 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-500"
          placeholder="Enter username" />
        <button (click)="searchGithubUsers()"
          class="bg-indigo-600 text-white px-4 py-2 rounded-md shadow-sm hover:bg-indigo-500">
          Search
        </button>
      </div>
    </div>
  </div>

  <!-- Profile Component -->
  <app-profile class="w-full mt-12" [profileData]="profileData" *ngIf="!loading && showProfile"></app-profile>
  <!-- Loader Component -->
  <app-loader class="w-full mt-12" *ngIf="loading"></app-loader>


  <div class="absolute inset-0 -z-10 bg-gradient-to-tr from-gray-200 to-gray-100 opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
</div>
